In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
rating_df = pd.read_csv("ratings.csv", low_memory = False)

In [3]:
rating_df = rating_df.dropna()
rating_df = rating_df.reset_index(drop=True)
#rating_small = rating_df.sample(frac = 0.01)
#r1 = rating_df.head(200)
#r1
#rating_df["movieId"].value_counts()
#rating_df["rating"].value_counts()

In [4]:
rate_set = set()
for i,j in rating_df.iterrows():
    # j[1]: movieId
    # j[2]: rating
    # print(j[1],j[2])
    if j[1] not in rate_set:
        rate_set.add(j[1])

df_lists = []
for i in rate_set:
    row = []
    summ = rating_df.loc[rating_df["movieId"]== i,"rating"].sum()
    cnt = rating_df.loc[rating_df["movieId"]== i,"rating"].count()
    avg = (summ/cnt) * 2
    avg = round(avg,1)
    row = [int(i),avg]
    df_lists.append(row)

new_rate = pd.DataFrame(df_lists, columns=["id", "rating"])


# Reference: 
# https://stackoverflow.com/questions/28236305/how-do-i-sum-values-in-a-column-that-match-a-given-condition-using-pandas
# https://www.w3schools.com/python/ref_func_round.asp

In [5]:
new_rate

           id  rating
0      131072     5.0
1           1     7.8
2           2     6.5
3           3     6.4
4           4     5.8
...       ...     ...
45110  131062     1.0
45111  131064     5.5
45112  131066     6.3
45113  131068     6.0
45114  131070     6.6

[45115 rows x 2 columns]

In [6]:
new_rate.to_csv('new_rate.csv',index = False)